#txtPassword{
    -webkit-text-security:disc;
}

#mainDiv{
    margin-top:40px;
    color: #4f4f4f;
}

#userButtons{
    margin-top:100px;
    /* display:flex;
     justify-content:center;
     width:120px; */
}
#addUser{
    float: left;
    width:115px;
    border-radius: 3px;
    height:50px;
}
#deleteUser{
    float:right;
    width:115px;
    border-radius: 3px;
    height:50px;
}

#loadDiv{
    width:300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.addDelete{
 /*   margin-left:20px;
    margin-right:20px;
    border-radius: 3px;*/
    color: #4f4f4f;
    border: 2px solid #4f4f4f;

    height:40px;
    background-color: #d2d2d2;
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica, Arial,sans-serif;
}

.dropDown{
    font-size: 16px;
    font-weight: bold;
    margin-right:0px;
    display:flex;
    justify-content: center;
    top: 0;
    border: 2px solid #4f4f4f;
    border-radius: 4px;
    height: 50px;
    color: #4f4f4f;
}

.dropDownTitle{
    font-size: 16px;
    font-weight: bold;
    display:flex;
    margin-bottom: 3px;
    color: #4f4f4f;
}

#userListSelect{
    width:300px;
}

#info{
    display:flex;
    justify-content:center;

}
#userInfo{
    width:300px;
    margin-left:0px;
    background-color: #94bddf;
    border-radius: 3px;
    border: 2px solid #4f4f4f;
}#userInfo p{
    margin-left:5px;
 }
#uiLegend{
    font-weight: bold;
}