button{
    margin-left:20px;
    margin-right:20px;
    border-radius: 3px;
    color: #717171;
    border: 2px solid #4f4f4f;
    width: 90px;
    height:75px;
    background-color: #d2d2d2;
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica, Arial,sans-serif;
}