#txtPassword{
    -webkit-text-security:disc;
}

#mainDiv{
    margin-top:40px;

}

#userButtons{
    margin-top:100px;
    display:flex;
    justify-content:center;
}

.loadDiv{
    width:500px;
    height: 500px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: large;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    transition: all .8s;
    padding-bottom: 0px;
}
.loadDiv.expanded {
    height: 0px;
    overflow: hidden;
    opacity: 0;
}

.addDelete{

    margin-left:20px;
    margin-right:20px;
    border-radius: 3px;
    color: #4f4f4f;
    border: 2px solid #4f4f4f;
    width: 120px;
    height:40px;
    background-color: #d2d2d2;
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica, Arial,sans-serif;
}

.dropDown{
    font-size: 16px;
    font-weight: bold;
    margin-top:50px;
    margin-right:0px;
    display:flex;
    justify-content: center;
    top: 0;
    border: 3px solid #4f4f4f;
}

.dropDownTitle{
    font-size: 16px;
    font-weight: bold;
    display:flex;
    justify-content: center;
}

#userListSelect{
    width:275px;
}

#info{
    display:flex;
    justify-content:center;

}
