<!DOCTYPE html>

<script src="/javascripts/audioStream.js"> </script>
<script type="text/javascript" src="/javascripts/pcm-player.js"></script>

<!--
<link rel="stylesheet" href="./stylesheets/test.css">
-->
<link rel="stylesheet" href="./stylesheets/main.css">
<!--<script>-->
<!--    window.onload = load()-->
<!--</script>-->
    <body >
<button onclick="load()">start</button>
    <div id='mainDiv'>
    AudioStream
    </div>


</body>


