<!DOCTYPE html>
<html lang="en">
<head>
    <title>MC Login</title>
    <link rel="icon" href="images/favicon.ico" type="image/ico" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/main.css">
    <link rel="stylesheet" href="./stylesheets/login.css">
</head>
<body>
<%- include("theme/"+theme+"/header") %>

<div class="form">
    <form method="POST" action="/changepass" onSubmit="return submitCheck()">

        <h2 class="heading"><%= pageName %></h2>
        <br>

        <input type="text" id="name" name="userName" placeholder="User Name" autocomplete="username">
        <input type="password" id="code" name="authenticationCode" placeholder="Current Password or Auth Code" autocomplete="current-password">
        <input type="password" id="newPass" name="newPass" placeholder="New Password" autocomplete="new-password">
        <input type="password" id="verifyPass" name="verifyPass" placeholder="Verify New Password">
        <input type="submit" value="Submit">
    </form>
</div>
</body>

</html>
<script>
    function submitCheck() {
        console.log('here at subcheck')
        if (document.getElementById('newPass').value.length < 6) {
            alert('New password must be at least 6 chars')
            return false;
        }
        if (document.getElementById('newPass').value != document.getElementById('verifyPass').value) {
            alert('New Passwords do not match')
            return false;
        }
    }


</script>