<!DOCTYPE html>
<%- include("varsToJavascript.ejs") %>

<script type="module" src="/javascripts/userMgmt.js"> </script>
<script type="text/javascript" src="/javascripts/sweetalert2.js"></script>

<!--
<link rel="stylesheet" href="./stylesheets/test.css">
-->
<link rel="stylesheet" href="./stylesheets/main.css">
<link rel="stylesheet" href="./stylesheets/userMgmt.css">

<head>
    <title><%=global.systemName +' - ' + pageName%>></title>
    <link rel="icon" href="./images/favicon.ico" type="image/ico" sizes="16x16">
</head>


<body >
    <%- include("theme/Default/header.ejs")%>
    <div id='mainDiv'>
        <div class=loadDiv">
            <p class = "dropDownTitle" >Current Users:</p><br>
            <div id = "info">

                <select class = "dropDown" id = 'userListSelect'>User List</select>
            </div>
            <br>
            <br>
            <div id = "userButtons">
                <button class = "addDelete" id ='addUser'>Add User</button>
                <button class = "addDelete" id ='deleteUser'>Delete User</button>
            </div>
        </div>
    </div>


</body>


