<head>
    <link rel="stylesheet" href="./stylesheets/header.css">
</head>

<div class="top">
    <hr id="topLine">
    <img id="hamburger" onclick="openLeftSideMenu()" src="images/hamburger.png">
    <img id="logo" src="images/logo.png">
    <p id="title"><%= global.systemName %></p>
    <img  id='headerShowImage' src="/show/<%=locals.javascript.settings.showName%>/Welcome.jpg">

    <p id="pagename"> <%= pageName %></p>
    <br>
    <hr id="bottomLine">
</div>
<%- include("leftMenu.ejs") %>
<script>
    var leftSideMenuOpen = false;


    function openLeftSideMenu() {
        if (leftSideMenuOpen) {
            closeLeftSideMenu();
            return;
        }
        document.getElementById("leftSideMenu").style.width = "225px";
        document.getElementById("leftSideMenu").style.opacity = "1";
        document.getElementById("mainDiv").style.marginLeft = "225px";
        leftSideMenuOpen = true
    }


    function closeLeftSideMenu() {
        document.getElementById("leftSideMenu").style.width = 0;
        document.getElementById("leftSideMenu").style.opacity = 0;
        document.getElementById("mainDiv").style.marginLeft = "0px";
        leftSideMenuOpen = false;
    }


    // this code makes sure only one detail selector is open at a time
    // it applies to all details elements in the class sidenavDetails
    // Fetch all the details elements in the class.
    const details = Array.from(document.querySelector(".sidenavDetails").querySelectorAll("details"));
    // Add the onclick listeners.
    details.forEach((targetDetail) => {
        targetDetail.addEventListener("click", () => {
            console.log('here')
            // Close all the details that are not targetDetail.
            details.forEach((detail) => {
                if (detail !== targetDetail) {
                    detail.removeAttribute("open");
                }
            });
        });
    });


</script>
